*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

#nev{
	text-align: center;
	background-color: #03a9fc;
	font-size: 150%;
}

#logo{
	float: left;
	top: 20%;
	width: 10%;
	padding-bottom: 0%;
	position: absolute;
}

img.logo{
	height: 100%;
	width: 100%;
}

#fejlec{
	position: relative;
	display: block;
	background-color: #03a9fc;
	text-align: center;
	width: 100%;
	padding-top: 1%;
	
}

#menu{
	float: left;
	height: 100%;
	background-color: #03a9fc;
	width: 100%;
	padding-bottom: 1%;
	padding-top: 1%;
}

#menu ul{
	float: right;
	width: 90%;
	font-size: 125%;
	line-height: 200%;
}

#menu li{
	display: table;
	height: 100%;
	padding: 1%;
	display:inline;
	background-color: #03a9fc;

}
#menu li:hover{
	background-color: #009ceb;
}

#tartalom{
	margin: 5%;
	margin-top: 7%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 105%;
	letter-spacing: 3px;
}
img.randomkep{
	width: 80%;
	display : block;
	margin : auto;
}

/* ugyanaz mint az index alján
#leiras_bemutatkozas{
	text-align: center;
	font-size: 190%;
	font-family: calibri;
	background-color: #01A7C2;
}
#leiras_tagok{
	text-align: left;
	font-size: 150%;
	font-family: calibri;
	background-color: #01A7C2;
	padding-bottom: 1%;
}
*/

