*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
#nev{
	text-align: center;
	background-color: #03a9fc;
}
#logo{
	float: left;
	height: 20px;
	width: 20px;
	padding-bottom: 0%;
	position: relative;
}
#fejlec{
	position: relative;
	display: block;
	background-color: #03a9fc;
	text-align: center;
	width: 100%;
	font-size: 150%;
	padding-top: 1%;
}
#menu{
	float: left;
	height: 100%;
	background-color: #03a9fc;
	width: 100%;
	padding-bottom: 1%;
	padding-top: 1%;
}
#menu li{
	display: table;
	height: 100%;
	padding: 1%;
	display:inline;
	background-color: #03a9fc;
}
#menu li:hover{
	background-color: #009ceb;
}
#leiras_bemutatkozas{
	text-align: center;
	font-size: 190%;
	font-family: calibri;
	background-color: #01A7C2;
}
#leiras_tagok{
	text-align: left;
	font-size: 150%;
	font-family: calibri;
	background-color: #01A7C2;
	padding-bottom: 1%;
}
