*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
#nev{
	text-align: center;
}
#logo{
	float: left;
	##height: 200px;
	##width: 200px;
}
#fejlec{
	position: relative;
	display: block;
	background-color: ;
	text-align: center;
	height: ;
	width: 100%;
	font-size: 50px;
}
#menu{
	float: right;
	height: 100%;
	
}
#menu li{
	display: table;
	height: 100%;
	float: left;
	margin-right: 20px;
}